{% extends "base.html" %}
{% block title %}
Создание тренеровок
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}

{% block menu %}
<div class="top__block__menu">
    <div class="container top__box">
        {% include "inc_menu.html" %}
    </div>
</div>
{% endblock %}


{% block body %}
<div>
    <a href="/training_list/?id={{id}}">назад</a>
</div>

<br>
<br>

<div>
    <h1>Создание тренеровок для категории "{{name}}"</h1>
    <form method="post">
        <input type="text" name="name" placeholder="Название">
        <button type="submit">Сохранить и вернуться к списку тренеровок</button>
    </form>
</div>
{% endblock %}
