<div class="what-we-do container">
    <h3 class="heading3">Интересное на : {{data}}</h3>
    <div class="cards">
        <div class="card">
            <img class="card__img" src="img/st.jpg" alt="card_1">
            <a href="#" class="card__link">Learn more</a>

        </div>
        <div class="card">
            <img class="card__img" src="/templates/img/st.jpg" alt="card_2">
            <a href="#" class="card__link">Learn more</a>

        </div>
        <div class="card">
            <img class="card__img" src="/templates/img/st.jpg" alt="card_3">
            <a href="#" class="card__link">Learn more</a>
        </div>
    </div>
</div>