{% extends "base.html" %}
{% block title %}
Твой Рецепт
{% endblock %}
{% block style %}
{% include "inc_style.html" %}
{% endblock %}

{% block menu %}
<div class="top__block__menu">
    <div class="container top__box">
        {% include "inc_menu.html" %}
    </div>
</div>
{% endblock %}


{% block body %}
<form class="guruweba_example_form" action="" method="post">
    <fieldset class="guruweba_example_caption">
        <legend class="guruweba_example_infofield">Отправить рецепт</legend>
        <label for="picture">Загрузить фото</label>
        <input type="file" name="picture" id="picture"/>
        <br/>
        <label for="name">Название:</label>
        <input type="text" name="name" id="name">
        <br/>
        <label for="category">Категория:</label>
        <select name="category" id="category">
            <option value="snacks">Закуски</option>
            <option value="salads">Салаты</option>
            <option value="soup">Первое блюдо</option>
            <option value="main_course">Горячее</option>
            <option value="desserts">Десерты</option>
        </select>
        <br/>
        <label class="title">Описание: <br/>
            <textarea name="message" cols="40" rows="4" placeholder="Описание"></textarea>
        </label>
        <br/>
        <label for="email">Ваш email:</label>
        <input type="email" name="email" id="email">
    </fieldset>
    <div class="submit"><input type="submit" value="Отпрваить"/></div>
</form>
{% endblock %}
